# The database where favorites will be dumped from.
DATABASE_URL="postgres://user@pass:localhost/danbooru2"

# The place where favorites should be dumped.
FAVS_PATH="/tmp/favs.csv"

# The place where the trained recommendation model should be stored.
MODEL_PATH="/tmp/recommender.pickle"

# https://docs.gunicorn.org/en/stable/settings.html
GUNICORN_CMD_ARGS="--bind 0.0.0.0:5000 --workers=4 --preload"

# Silence a warning from the implicit library.
OPENBLAS_NUM_THREADS=1

# Parameters used to train the model. See recommender/model.py.
# ALS_FACTORS=
# ALS_REGULARIZATION=
# ALS_ITERATIONS=
# MIN_POST_FAVS=
# MIN_USER_FAVS=
# MAX_FAVS=
